
<form (submit)="formSubmit()" [formGroup]="user">
  <div>
      <ng-content select="h3"></ng-content>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="pw">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>

  <pre>
    {{user.value.email}}
    {{user.value.password}}
  </pre>

   <ng-content select="app-check-box"></ng-content>

   <p [style.visibility]="!showMessage?'hidden':'visible'" style="color:red"> GREAT ENJOY THE DRINK ! <small> content child demo</small></p>

   <ng-content select="button"></ng-content>
    
  </form> 






